<!-- app/views/users/_form.html.erb -->

<div class="container">
  <div class="row">
    <ul class="tabs">
    <li class="tab col s6"><a><%= @user.nickname %>さんのマイページ</a></li>
    <li class="tab col s3"><a href="#test1" class="active"><%= @user.nickname %>さんの投稿</a></li>
    <li class="tab col s3"><a href="#test2"><%= @user.nickname %>さんのいいね！</a></li>
    </ul>

    <div class="section">
      <div class="col s6">
        <div class="card" id="test">
         <div class="blue-grey darken-1">
          <div class="card-content white-text">
            <ul class="collection">

              <li class="collection-item">
                <img src="<%= @user.avatar %>">
              </li>
              <li class="collection-item">
                  <a>nick name :  <%= @user.nickname %><br></a>
              </li>
              <li class="collection-item">
                  <a>email :   <%= @user.email %></a>
              </li>
              <% unless @user.birth.nil? %>
              <li class="collection-item">
                  <a>birth :   <%= @user.birth %></a>
              </li>
              <% end %>
              <% unless @user.tag_list.nil? %>
              <li class="collection-item">
                  <a>interest :
                    <%= render 'products/tag_list', tag_list: @user.tag_list %>
                  </a>
              </li>
              <% end %>
              <li id="user-<%= @user.id %>">
                <%= render 'users/follow', user: @user %>
              </li>
            </ul>
          </div>
           <div class="center">
             <%= link_to '編集する' ,edit_user_path, class: "btn waves-effect waves-light" %>
           </div>
        </div>

    </div>
    </div>
      <div class="col s6">
        <div class="card" id = "test1">
          <% unless @products.nil? %>
          <div class="blue-grey darken-1">
          <div class="card">
              <% @products.each do |a_product| %>
                <%= render 'products/product' , a_product: a_product %>
              <% end %>
          </div>
          </div>
          <%= link_to_next_page @products , 'more read ....' , class: 'btn btn-lg btn-block btn-primary'%>
            <% end %>
          </div>
        <div id="test2">
          <% unless @like_products.nil? %>
          <div class="blue-grey darken-1">
          <div class="card">
              <%= render 'products/product' , a_product: @like_products %>
        </div>
      </div>
        <% end %>
    </div>

    </div>
  </div>
 </div>
</div>

