<!-- app/views/users/_form.html.erb -->

<div class="container">
  <div class="row">
    <ul class="tabs">
    <li class="tab col s6"><a><%= @user.nickname %>さんのマイページ</a></li>
    <li class="tab col s3"><a href="#test1" class="active"><%= @user.nickname %>さんの投稿</a></li>
    <li class="tab col s3"><a href="#test2"><%= @user.nickname %>さんのいいね！</a></li>
    </ul>

    <div class="section">
      <div class="col s6">
        <div class="card" id="test">
         <div class="blue-grey darken-1">
          <div class="card-content white-text">
            <ul class="collection">

              <li class="collection-item field">
                <div class="size">
                <%= image_tag  @user.avatar.url %>
                </div>
              </li>
              <li class="collection-item">
                  <a>Nickname :  <%= @user.nickname %><br></a>
              </li>
              <li class="collection-item">
                <a>Introduction:  <%= @user.field %><br></a>
              </li>
              <% unless @user.tag_list.nil? %>
              <li class="collection-item">
                  <a>interest :
                    <%= render 'products/tag_list', tag_list: @user.tag_list %>
                  </a>
              </li>
              <% end %>

              <li class="collection-item">
              <div id="user-<%= @user.id %>">
                <%= render 'users/follow', user: @user %>
              </div>
              </li>

            </ul>
            <div class="center">
              <%= link_to '編集する' ,edit_user_path, class: "btn waves-effect　actions btn-large" %>
            </div>
          </div>
        </div>

    </div>
    </div>
      <div class="col s6">
        <div id = "test1">
          <% unless @products.nil? %>
          <div class="blue-grey darken-1">
              <% @products.each do |a_product| %>
              <div class="card">
                <%= render 'products/product' , a_product: a_product %>
              </div>
              <% end %>
          </div>
          <%= link_to_next_page @products , 'more read ....' , class: 'btn btn-lg btn-block btn-primary'%>
            <% end %>
        </div>


        <div id="test2" class="page">
          <div class="center-align color: yellow lighten-2 ">
            <h5>いいね</h5>は最大10個まで取得します
          </div>
          <% unless @user_like_products.nil? %>
          <div class="blue-grey darken-1">
            <% @user_like_products.each do |a_product| %>
              <div class="card">
              <%= render 'products/product' , a_product: a_product %>
              </div>
            <% end %>
          </div>
          <% end %>
        </div>

    </div>
  </div>
 </div>
</div>

