
        <div class="card-image cover">
          <%= link_to product_path(a_product.id) do %>
          <img src="<%= a_product.image %>">
          <span class="card-title">
            <%= a_product.name %>
          </span>
            <% end %>
        </div>

        <ul class="collection">
          <li class="collection-item">
              <span class="black-text">
                  <div class="chip">
                  <img src="<%= a_product.user.avatar %>">
                    <%= link_to "#{a_product.user.nickname}",  user_path(a_product.user.id) %>
                   </div>
              </span>
       <!--削除したアカウントがあるとuser.idがないとエラーを吐く-->
          </li>

          <li class="collection-item">
            <%= a_product.content %>
          </li>

          <li class="collection-item">
           <div> タグ：<%= render 'products/tag_list', tag_list: a_product.tag_list %></div>
          </li>

            <li id="product-<%= a_product.id %>" class="collection-item" >
              <span class="timestamp">
              </span>
              <div class="like-button-<%= a_product.id %>">
              <%= render 'products/likes' , a_product: a_product %>
              </div>
            </li>

          <li class="collection-item">
            <%= link_to a_product, class: "waves-effect waves-light btn" do %>
              <i class="fa fa-arrow-left"></i>
              <span>SHOW</span>
              <!--このボタンがツイート画像とかだったら使いやすそう-->
            <% end %>

          <% if user_signed_in? && current_user. id == a_product.user_id %>
            <%= link_to a_product, method: :delete, data: { confirm: 'Are you sure?'}, class: "waves-effect waves-light btn" do %>
              <i class="fa fa-arrow-left"></i>
              <span>削除</span>
            <% end %>
          <% end %>
        </li>