<!-- Navbar goes here -->

<!-- Page Layout here -->
<div class="container">
 <div class="row">
   <div class="col s12">
     <ul class="tabs">
       <% if user_signed_in? %>
         <% split_number = 12 / (@tag.count+1) %>
           <% @tag.each do |tag| %>
           <% @tag_number = @tag.index("#{tag}").to_i %>
           <li class="tab col s<%= split_number %>"><a href="#test<%= @tag_number + 2 %>"><%= tag %></a></li>
           <% end %>
         <li class="tab col s<%= split_number %>"><a class="active"  href="#test1">Timelines</a></li>
       <% end %>
     </ul>
   </div>
<!--   <div class="col s12 m8 l9"> -->
    <div class="row" id="product_cards">

      <div class="page" id="test1">
        <div class="card">
          <%= render 'products/index_to_product' , products: @products %>
        </div>
    </div>

      <% n = 2 %>
      <% @tag_products.each do |a_tag| %>
       <div class="page" id ="test<%= n %>">
       <div class="center-align color: light-green accent-<%= n-1 %>">
        <h5>"<%= @tag[n-2] %>"</h5>タグは最大20個まで取得します
       </div>
         <%= render 'products/index_to_product' , products: a_tag %>
         <% n += 1 %>
       </div>
      <% end %>

    <!--<div class="col s12 m12 grey darken-3">-->
      <!--<ul class="pagination">-->
        <!--<li class="waves-effect waves-light btn col s12">-->
          <!--<div class="content">-->

          <!--</div>-->
        <!--</li>-->
      <!--</ul>-->

   <!--</div>-->
    </div>
  </div>
</div>
<%= link_to_next_page(@products, '次のタイムラインへ',class: "btn btn-lg btn-block btn-primary" ) %>
<%= link_to_prev_page(@products, '前のタイムラインへ',class: "btn btn-lg btn-block btn-primary brown") %>