<!-- Navbar goes here -->

<!-- Page Layout here -->
<div class="container">
 <div class="row">
   <div class="col s12">
     <ul class="tabs">
       <% if user_signed_in? %>
         <% split_number = 12 / (@tag.count+1) %>
           <% @tag.each do |tag| %>
           <% @tag_number = @tag.index("#{tag}").to_i %>
           <li class="tab col s<%= split_number %>"><a href="#test<%= @tag_number + 2 %>"><%= tag %></a></li>
           <% end %>
         <li class="tab col s<%= split_number %>"><a class="active"  href="#test1">標準</a></li>
       <% end %>
     </ul>
   </div>
<!--   <div class="col s12 m8 l9"> -->
    <div class="row" id="product_cards">

      <div class="page" id="test1">
      <%= render 'products/index_to_product' , products: @products %>

    </div>

      <% n = 2 %>
      <% @tag_products.each do |a_tag| %>
       <div class="page" id ="test<%= n  %>">
          <%= render 'products/index_to_product' , products: a_tag %>
         <% n += 1 %>

       </div>
      <% end %>

    <!--<div class="col s12 m12 grey darken-3">-->
      <!--<ul class="pagination">-->
        <!--<li class="waves-effect waves-light btn col s12">-->
          <!--<div class="content">-->

          <!--</div>-->
        <!--</li>-->
      <!--</ul>-->

   <!--</div>-->
    </div>

  </div>
</div>

