<div class="parallax-background-new">
<div class="container">
  <div class="row">
    <div class="col s12">

    </div>
  <%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


      <div class="col s6">
      </div>

      <div class="col s6">

        <div class="card brown  darken-3 transport">

          <div class="card-content white-text">
            <div class="center">
              <h5 class="white-text">投稿画面</h5>
            </div>
            <ul class="collection">
              <li class="collection-item">
  　　　　　　　　<div class="field">
                <%= f.label :name %><br>
                <%= f.text_field :name%>
              </div>
              </li>
              <li class="collection-item">
                <div class="field">
                  <%= f.label :content %><br>
                  <%= f.text_area :content%>
                </div>
              </li>
              <li class="collection-item">
                <div class="field">
                  <%= f.label :url1 %><br>
                  <%= f.text_area :url2 %>
              </div>
              </li>
              <li class="collection-item">
                <div class="field">
                  <%= f.label :image%><br>
                  <%= f.file_field :image %>
                </div>
              </li>
              <li class="collection-item">
                <div class="field">
                  <%= f.label :tag_list, "field" %><br>
                  <%= f.text_field :tag_list,value: @product.tag_list.join(',') , class: 'custom-class custom-class' %>
                </div>
              </li>
            </ul>

            <div class="actions center">
              <%= f.submit "投稿" ,class: "btn waves-effect　actions btn-large brown lighten-3"%>
            </div>
          </div>
        </div>

      </div>
<% end %>

  </div>
</div>

