<div class="container">
  <%= form_for(@product) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name%>
    <%= f.label :content %><br>
    <%= f.text_area :content%>
    <%= f.label :url1 %><br>
    <%= f.text_area :url2 %>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
    <%= f.file_field :image %>
  </div>

  <div class="field">
    <%= f.label :tag_list, "分野" %><br>
    <%= text_field_tag 'product[tag_list]', @product.tag_list.join(',') %>
  </div>



  <div class="actions">
  <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
    <%= f.submit %>
  </button>
  </div>

<% end %>
</div>
