<div class="container">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s6"><a href="#test1">キーワード検索</a></li>
        <li class="tab col s6"><a href="#test2">タグ検索</a></li>
      </ul>
      <div id ="test1" >
        <%= search_form_for @search,url: search_products_path do |f| %>
          <div class="form-group">
            <i class="material-icons prefix">search</i>
            <%= f.search_field :name_cont, class: 'form-control', placeholder: 'キーワードで検索' %>

            <%= f.submit 'Search',:class=> "btn waves-effect waves-light" %>
          </div>
        <% end %>

        <div class="col s6">
          <div class="card" id = "test1">
            <div class="blue-grey darken-1">
              <ul class="card">
                <% @results.each do |result| %>
                  <%= render 'products/product' , a_product: result %>
                  </ul>
                  <% end %>
                <%= link_to_next_page @results , 'Next Page' , class: 'btn btn-lg btn-block btn-primary'%>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div id ="test2">
        <div class="form-group">
        <i class="material-icons prefix">search</i>
        <%= form_tag({action: 'search', method: "get", id: "test2"}) do %>
          <%= text_field_tag :search %>
          <%= submit_tag 'Search', :class =>  "btn waves-effect waves-light" %>
        <% end %>
        </div>

        <div class="col s6">
          <div class="card" id = "test1">
            <div class="blue-grey darken-1">
              <ul class="card">
                <% @tag_search.each do |result| %>
                  <%= render 'products/product' , a_product: result %>
                  </ul>
                <% end %>
                </div>
          </div>
        </div>
      </div>
      </div>

    </div>
  </div>
</div>