<div class = "row">
  <div class = "container">
    <div class = "col s2">
    </div>
        <div class="col s8">
          <div class="card">
              <%= render 'products/product' , a_product: @product %>

          <li class="collection-item">
              <%= form_for [@product, @comments] do |f| %>
                <div class="row">
                  <div class="col s11">
                    <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">textsms</i>
                        <%= f.text_field :content %>
                        <!--<label for="autocomplete-input">Autocomplete</label>-->
                  <%= button_tag type: "submit", class: "waves-effect waves-light btn" do %>
                  <i class="fa fa-arrow-left"></i>
                          <%= f.submit "投稿する" %>
              <% end %>
              <% end %>
            </div>
            </div>
            </div>
            </div>
          </li>
          <li class="collection-item">
            <div class="comments">
              <h4>＜コメント一覧＞</h4>
              <% @product.comments.each do |comment| %>
                <p>
                  <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
                  <%= comment.content %>
                  <% if comment.user_id == current_user.id %>
                    <%= link_to product_comment_path(@product,comment), method: :delete , class: "waves-effect waves-light btn" do %>
                      <i class="fa fa-arrow-left"></i>
                      <span>コメント削除</span>
                    <% end %>
                  <% end %>
                </p>
              <% end %>
            </div>
        </li>
       </div>

        <%= link_to products_path , class: "waves-effect waves-light btn" do %>
             <i class="fa fa-arrow-right"></i>
             <span>戻る</span>
        <% end %>
    </div>
  </div>

  <div class="container">

  </div>
</div>

