<div class = "row">
  <div class = "container">
    <div class = "col s2">
    </div>
        <div class="col s8">
          <ul class="card">
              <%= render 'products/product' , a_product: @product %>
          <li class="collection-item">
              <%= form_for [@product, @new_comments] do |f| %>
                <div class="row">
                  <div class="col s11">
                    <div class="row">
                      <div class="input-field col s12">
                        <i class="material-icons prefix">textsms</i>
                        <%= f.text_field :content %>
                        <!--<label for="autocomplete-input">Autocomplete</label>-->
                       <%= button_tag type: "submit", class: "waves-effect waves-light btn" do %>
                       <i class="fa fa-arrow-left"></i>
                      <%= f.submit "投稿する" %>
              <% end %>
              <% end %>
            </div>
            </div>
            </div>
            </div>
          </li>
          <li class="collection-item grey darken-3">
            <div class="comments">
              <div class="center">
              <h5 class="white-text">Comment</h5>
              </div>
              <ul class="collection with-header">
              <% @comments.each do |comment| %>
                  <li class="collection-item">
                    <div>
                      <%= render 'products/user' , user: comment.user %><br>
                      <% unless comment.reply_comment == nil %>
                        コメント先-----------<br>
                        <%= render 'products/user' , user: @comments.find(comment.reply_comment).user %><br>
                        <%= @comments.find(comment.reply_comment).content %><br>
                        ----------------------<br>
                      <% end %>
                      <%= comment.content %>
                      <%= form_for [@product, @new_comments] do |f| %>
                        <ul class="collapsible">
                          <li>
                            <div class="collapsible-header"><i class="material-icons">message</i>コメントに返信をする</div>
                            <div class="collapsible-body">
                              <%= f.text_field :content %>
                              <%= f.hidden_field :reply_comment, :value => comment.id  %>
                              <%= button_tag type:"submit", class: "waves-effect waves-light btn" do %>
                                <%= f.submit "投稿する" %>
                              <% end %>
                            </div>
                          </li>
                        </ul>
                      <% end %>
                      　</div>
                    <% if comment.user_id == current_user.id %>
                      <%= link_to product_comment_path(@product,comment), method: :delete , class: "waves-effect waves-light btn" do %>
                        <i class="fa fa-arrow-left"></i>
                        <span>コメント削除</span>
                      <% end %>
                    <% end %>
              </li>
              <% end %>
              </ul>
            </div>
          </li>
        </ul>
      <div class="center">
        <%= link_to products_path , class: "waves-effect waves-light btn" do %>
             <i class="fa fa-arrow-right"></i>
             <span>戻る</span>
        <% end %>
      </div>
    </div>
  </div>
</div>

